@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap%27);
*{
    font-family:'poppins';
    font-size: 19px;
}
#titulo1{
text-align: center;
font-size: 12px;
}
#titulo2{
    text-align: center;
    font-size: 30px;
}

body{
background-color: aqua;
background-image: linear-gradient(45deg,#2575A5#45C9F2,); /* igual a top right */
background-image: linear-gradient(top right,#45C9F2,#2575A5); /* igual a 45deg */
background-image: linear-gradient(90deg,#45C9F2,#2575A5);
background-image: linear-gradient(#3FC3B5,#45C9F2,#2575A5);
}
img {
    position: relative;
    margin-left: 1030px;
    margin-top: 50px;
    height: 100px;
    float: left;
    position: absolute;
    }

#não{
margin-left: 600px;
}
#sim{
margin-left: x;
}
